<!-- base.html
The idea here is to create a base html template then overide parts of it when 
creating other pages.
-->

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <!--This line is metadata about html in the viewport. In this case it sets the
    width of the page to the device screen size and sets no zoom.-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous"
    />
    
    <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" 
    />

    <!--
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    -->
    <!--This is jinja2 templating language. Child templates can override this.-->
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <!--THis is the navbar. These are bootstrap classes.-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!--This creates a collapsable nav menu from the nav bar.-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <!--These are navbar links-->
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="study" href="/study">Study</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            {% else %}
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="singUp" href="/sign-up">Sign Up</a>
            {% endif %}
          </div>
        </div>
    </nav>
    <!--get_flashed_messages is a built in flash method. This if statement will
    only display messages if there are any to be displayed.--> 
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between align-items-center" role="alert">
            {{ message }} 
            <button type="button" class="close" data-bs-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% else %}
          <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-bs-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
        {% endfor %}
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function (alert) {
              setTimeout(function () {
                var alertInstance = new bootstrap.Alert(alert);
                alertInstance.close();
              }, 5000);
            });
          });
        </script>
      {% endif %}
    {% endwith %}

    <!--This will be content beneath the navbar. Notice the container block can
    be overridden by information in template files. "container" is a bootstrap class-->
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

    <!--This loads in bootstrap to simplify UI development.-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <!--This is a javascript library of poppers like dropdowns, tips, etc. Most Bootstrap 
    poppers use this.-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <!--
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
      crossorigin="anonymous">
    </script>

    {% block javascript %}
    <script type="text/javascript">
      function deleteFlashcard(flashcardId) {
    fetch("/delete-flashcard", {
      method: "POST",
      body: JSON.stringify({ flashcardId: flashcardId }),
    }).then((_res) => {
      window.location.href = "/";
    });
    }
    </script>
    {% endblock %}
    
</body>
</html>
