<!--edit_card.html-->
{%extends "base.html"%} {% block title %}Edit Flashcard{% endblock %} {% block
content %}

<div
  id="flashcard-error"
  class="alert alert-danger"
  style="display: none"
></div>
<div
  id="flashcard-success"
  class="alert alert-info"
  style="display: none"
></div>

<form
  id="edit-flashcard-form"
  data-flashcard-id="{{ flashcard.id }}"
  data-deck-id="{{ flashcard.deck_id }}"
>
  <label for="editor-front">Front of Card:</label>
  <div id="editor-front"></div>
  <br />
  <label for="editor-back">Back of Card:</label>
  <div id="editor-back"></div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a
      href="{{ url_for('views.view_deck', deck_id=flashcard.deck_id) }}"
      class="btn btn-secondary"
      >Cancel</a
    >
  </div>
</form>

<!-- Hidden divs for initial Quill content in Delta format -->
<div id="front-content" style="display: none">{{ flashcard.front }}</div>
<div id="back-content" style="display: none">{{ flashcard.back }}</div>

{% endblock %} {% block javascript %}
<script src="{{ url_for('static', filename='js/edit_card.js') }}"></script>
{% endblock %}
