<!--edit_card.html-->
<!--This line makes use of the already existing base template. We can now override
parts of it.-->
{%extends "base.html"%} {% block title %}Edit Flashcard{% endblock %} {% block
content %}

<div
  id="flashcard-error"
  class="alert alert-danger"
  style="display: none"
></div>
<div
  id="flashcard-success"
  class="alert alert-info"
  style="display: none"
></div>

<form id="edit-flashcard-form">
  <label for="editor-front">Front of Card:</label>
  <div id="editor-front"></div>
  <br />
  <label for="editor-back">Back of Card:</label>
  <div id="editor-back"></div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a
      href="{{ url_for('views.view_deck', deck_id=flashcard.deck_id) }}"
      class="btn btn-secondary"
      >Cancel</a
    >
  </div>
</form>

{% endblock %} {% block javascript %}
<script>
  function displayError(message) {
    const errorDiv = document.getElementById("flashcard-error");
    errorDiv.textContent = message;
    errorDiv.style.display = "block";
  }

  function displaySuccess(message) {
    const errorDiv = document.getElementById("flashcard-success");
    errorDiv.textContent = message;
    errorDiv.style.display = "block";
  }
  // Initialize the Quill editor
  var quillFront = new Quill("#editor-front", {
    theme: "snow",
  });

  var quillBack = new Quill("#editor-back", {
    theme: "snow",
  });

  // Set the initial values of the Quill editors
  frontContent = "{{ flashcard.front | safe }}";
  backContent = "{{ flashcard.back | safe }}";

  quillFront.clipboard.dangerouslyPasteHTML(frontContent);
  quillBack.clipboard.dangerouslyPasteHTML(backContent);

  document
    .getElementById("edit-flashcard-form")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent the default form submission that would refresh the page

      //Get the values from the form based on the id
      let front = quillFront.root.innerHTML;
      let back = quillBack.root.innerHTML;

      // This is the text to make sure the user has entered something
      let frontText = quillFront.getText().trim();
      let backText = quillBack.getText().trim();

      //The blank quill card content for comparison
      let blankCard = "<p><br></p>";

      //Prevent addition of blank cards or cards of only spaces. And display error.
      if (
        frontText === "" ||
        backText === "" ||
        front === blankCard ||
        back === blankCard
      ) {
        displayError("Both front and back are required");
        return;
      }

      fetch("/edit-flashcard/{{ flashcard.id }}", {
        method: "POST",
        body: JSON.stringify({ front: front, back: back }),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            window.location.href =
              "{{ url_for('views.view_deck', deck_id=flashcard.deck_id) }}";
          } else {
            const errorDiv = document.getElementById("flashcard-error");
            errorDiv.textContent = data.message || "Failed to update flashcard";
            errorDiv.style.display = "block";
          }
        })
        .catch((error) => {
          alert("Error occurred: " + error);
        });
    });
</script>
{% endblock %}
