<!--home.html-->
<!--This line makes use of the already existing base template. We can now override
parts of it.-->
{%extends "base.html"%}
{% block title %}Heat Map{% endblock %}

<!--This will override the base.html content block-->
{% block content %}

<h1 align="center">Your Heat Map</h1>
<div class="container">
    <div class="row">
        <div class="col-sm" id="January">
        </div>
        <div class="col-sm" id="February">
        </div>
        <div class="col-sm" id="March">        
        </div>
    </div>
    <div class="row">
        <div class="col-sm" id="April">
        </div>
        <div class="col-sm" id="May">
        </div>
        <div class="col-sm" id="June">
        </div>
    </div>
    <div class="row">
        <div class="col-sm" id="July">
        </div>
        <div class="col-sm" id="August">
        </div>
        <div class="col-sm" id="September">
        </div>
    </div>
    <div class="row">
        <div class="col-sm" id="October">
        </div>
        <div class="col-sm" id="November">
        </div>
        <div class="col-sm" id="December">
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
    <script>
      function createHeatMap(grid_id, days){
        const grid = document.getElementById(grid_id);
        const table = document.createElement('table');
        table.setAttribute('id', grid_id + "_table");
        table.setAttribute('class', 'table table-responsive');
        table.setAttribute('style', 'width: 155px');

        var new_row, new_cell;
        
        // Creating Table Header
        const header = table.createTHead();
        new_row = header.insertRow(0);  
        new_cell = document.createElement('th');
        new_cell.setAttribute("id", grid_id + "_header_cell");
        new_cell.setAttribute("colspan", "7");
        new_cell.setAttribute("style", "text-align: center");
        new_cell.innerHTML = grid_id;
        new_row.appendChild(new_cell);


        // Creating Table Rows and Cells
        for (let i = 0; i < Math.ceil((days / 7)); i++){
          new_row = table.insertRow(-1);
          new_row.setAttribute('id', grid_id + '_row_' + i);
          new_row.setAttribute('style', 'height: 25px');
          const k = i < 4 ? 7 : (days - (i * 7));
          for (let j = 0; j < k; j++){
            new_cell = new_row.insertCell(-1);
            new_cell.setAttribute('id', "cell_" + ((i * 7) + j));
            new_cell.setAttribute('style', 'width: 25px');
            new_cell.setAttribute('class', 'border-top border-start border-end border-bottom');
          }
        }

        grid.appendChild(table);
      }

      // Checks if we are in a leap year and adds Feb 29th if so.
      function addFeb29(){
        var table = document.getElementById('February_table');
        var new_row = table.insertRow(-1);
        var new_cell = new_row.insertCell(-1);

        new_row.setAttribute('style', 'height: 25px');
        new_cell.setAttribute('style', 'width: 25px');
        new_cell.setAttribute('class', 'border-top border-start border-end border-bottom');
      }

      // Checks if we are in a leap year by the Gregorian Calendar.
      function isLeapYear() {
        const d = new Date();
        const year = d.getFullYear();
        return (year & 3) == 0 && ((year % 25) != 0 || (year & 15) == 0);
      }

      // The following code only runs if the browser has loaded. NOTE: This is different than the readyState. For some reason, the readyState at this point is still loading.
      window.onload = (event) => {
        const months = {
          "January" : 31,
          "February" : 28,
          "March" : 31,
          "April" : 30,
          "May" : 31,
          "June" : 30,
          "July" : 31,
          "August" : 31,
          "September" : 30,
          "October" : 31,
          "November" : 30,
          "December" : 31,
        }
        // Generates the HTML view for the table we see.
        Object.entries(months).forEach(([key, val]) => {
          createHeatMap(key, val);
        })
        
        if (isLeapYear()){
          addFeb29();
        }
      };
    </script>
{% endblock %}