<!--home.html-->
<!--This line makes use of the already existing base template. We can now override
parts of it.-->
{%extends "base.html"%}
{% block title %}Home{% endblock %}

<!--This will override the base.html content block-->
{% block content %}
<!--This is the form that allows a user to create a new deck.-->
<h1 align="center">Decks</h1>
<form method="POST">
<label for="deckName">Deck Name</label>
    <textarea name="deckName" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Create Deck</button> 
    </div>
</form>

<!--This is the form that allows a user to write a new flashcard.-->
<!--
<form method="POST">
    <label for="front">Front of Card:</label>
    <textarea name="front" id="note" class="form-control"></textarea>
    <br />
    <label for="back">Back of Card:</label>
    <textarea name="back" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Card</button>
        <a href="{{ url_for('views.study') }}" class="btn btn-primary">Study</a> 
    </div>
</form>
-->

<!--This is where the decks will be displayed.-->
<div class="container">
    <div class="row">
    {% for deck in decks %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ deck.name }}</h5>
                    <a href="{{ url_for('views.view_deck', deck_id=deck.id) }}" class="btn btn-primary">
                        View Deck
                    </a>
    {% endfor%}


{% endblock %}