{%extends "base_public.html"%} {% block title %}Landing Page{% endblock %} {%
block content %}
<div class="container-fluid">
  <div class="d-flex justify-content-center text-center h1">
    Welcome to the future of studying
  </div>
  <p class="d-flex justify-content-center text-center">
    Active Recall Pro wraps the latest developments in cognitive science in an
    intuitive and friendly user interface designed to help you maximize your
    study time
  </p>
  <div class="d-flex justify-content-center">
    <a class="btn btn-success btn-lg" id="signUp" href="/sign-up">Sign Up!</a>
  </div>
</div>
{% endblock %}
