<!--profile.html-->
<!--This line makes use of the already existing base template. We can now override
parts of it.-->
{%extends "base.html"%} {% block title %}Profile{% endblock %}

<!--This will override the base.html content block-->
{% block content %}
<!--This is the form that allows a user to create a new deck.-->
<h1 align="center">Decks</h1>

<div id="deck-error" class="alert alert-danger" style="display: none"></div>
<div id="deck-success" class="alert alert-info" style="display: none"></div>

<form id="create-deck">
  <label for="deckName">Deck Name</label>
  <textarea name="deckName" id="deckName" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Create Deck</button>
  </div>
</form>

<br />
<!--This is where the decks will be displayed.-->
<div class="container">
  <div class="row" id="deck-container">
    {% for deck in decks %}
    <div class="col-md-4" id="deck-{{ deck.id }}">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ deck.name }}</h5>
          <p class="card-text">Cards: {{ deck.flashcards|length }}</p>
          <a
            href="{{ url_for('views.view_deck', deck_id=deck.id) }}"
            class="btn btn-primary"
          >
            View Deck
          </a>
          <a
            href="{{ url_for('views.study', deck_id=deck.id) }}"
            class="btn btn-primary"
          >
            Study
          </a>
          <button class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
  {% endblock %} {% block javascript %}
  <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
  {% endblock %}
</div>
