<!--sign_up.html-->
<!--This line makes use of the already existing base template. We can now override
parts of it.-->
{%extends "base.html"%}
{% block title %}Sign Upin{% endblock %}

<!--This will override the base.html content block-->
{% block content %}
    <!--THis is a form the uses POST to send data to the server.-->
    <form method="POST">
        <h3 align="center">Sign Up</h3>
        <!--When information is sent to the back end, the name field is 
        what the attribute will be called.-->
        <div class="form-group">
            <label for="email">Email Address</label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email"  
                placeholder="Enter Email"
                onkeydown="return handleEnter(event, 'firstName')"/>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input 
                type="text" 
                class="form-control" 
                id="firstName" 
                name="firstName" 
                placeholder="Enter first name"
                onkeydown="return handleEnter(event, 'password1')"/>
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input 
                type="password" 
                class="form-control" 
                id="password1" 
                name="password1" 
                placeholder="Enter Password"
                onkeydown="return handleEnter(event, 'password2')"/>
        </div>
        <div class="form-group">
            <label for="password2">Password (confirm)</label>
            <input 
                type="password" 
                class="form-control" 
                id="password2" 
                name="password2" 
                placeholder="Confirm Password"
                onkeydown="return handleEnter(event, 'submitButton')"/>
        </div>
        <!--This break exists purely to make space-->
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script>
        //This function overrides the default setting of the 'Enter' key in the form-group class
        //Typically, hitting the 'Enter' key would submit the form regardless of what part of the form the user is in
        //With this function and its employment above, if the user presses 'Enter' while in the 'email' textbox, it will move them to the 'firstName' textbox
        //If the user is in the 'firstName' textbox and presses 'Enter', it will move them to the 'password1' textbox
        //If the user is in the 'password1' textbox and presses 'Enter', it will move them to the 'password2' textbox
        //If the user is in the 'password2' textbox and presses 'Enter', it will submit the form
        function handleEnter(event, nextElementId) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent form submission
                var nextElement = document.getElementById(nextElementId);
                if (nextElement) {
                    nextElement.focus(); // Focus the next element
                } else {
                    event.target.form.submit(); // Submit form if no next element
                }
                return false;
            }
            return true;
        }
    </script>
{% endblock %}