<!--study.html-->
{%extends "base.html"%} {% block title %}Study: {{ deck.name }}{% endblock %} {%
block content %}
<h1 align="center">Study: {{ deck.name }}</h1>

<div class="card text-center h-100" style="min-height: 50vh">
  <div class="card-header">
    <p class="card-text" id="flashcard-front">Loading...</p>
  </div>
  <div class="card-body">
    <p class="card-text" id="flashcard-content"></p>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-primary w-100" id="toggle-button">Show Back</button>
    <button
      class="btn btn-primary w-100"
      id="next-button"
      style="display: none"
    >
      Next Card
    </button>
  </div>
</div>
{% endblock %} {% block javascript %}
<script src="{{ url_for('static', filename='js/study.js') }}"></script>
{% endblock %}
